:root {
  --color-active: #0078ff;
  --color-text: #4e4e4e;
  --color-bg: #f5f5f5;
  --color-heading: #1e1e1e;
}

/*----------General---------*/
body {
  background-color: var(--color-bg);
  color: var(--color-text);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-heading);
}

a {
  color: var(--color-heading);
  transition: all 0.5s ease-in-out;
}

a:hover {
  color: var(--color-active);
  text-decoration: none;
  transition: all 0.5s ease-in-out;
}

/*----------Header / Nav-----------*/
#projectName {
  font-size: 1.5rem;
  color: var(--color-active);
}

#mainNav {
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#mainNav button {
  display: none;
}

#nav-icon {
  color: white;
}

.nav-item {
  padding-right: 5px;
  padding-left: 5px;
}
.nav-link-hover {
  color: var(--color-heading);
}

.nav-link-hover:hover {
  color: var(--color-active);
  border-radius: 25rem;
}

.active-item {
  color: var(--color-active);
  background-color: white;
  border-radius: 25rem;
}

@media screen and (max-width: 767px) {
  #projectName {
    font-size: 1.5rem;
    color: var(--color-active);
  }

  #mainNav {
    background-color: white;
  }

  #mainNav button {
    display: initial;
  }

  #nav-icon {
    color: var(--color-heading);
  }

  .nav-link-hover {
    color: var(--color-heading);
  }

  .nav-link-hover:hover {
    background-color: transparent;
    color: var(--color-active);
  }

  .active-item {
    color: var(--color-active);
    background-color: transparent;
    border-radius: 25rem;
  }
}

/*----------Intro section----------*/
#home {
  background-image: url(assets/img/intro-bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.intro {
  height: 100vh;
  position: relative;
  color: white;
}

.intro .intro-content {
  text-align: center;
  position: absolute;
}

.intro .intro-overlay {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 0;
  height: 100%;
  width: 100%;
  opacity: 0.9;
}
/*----------About section----------*/

.section {
  height: 100vh;
  width: 100%;
}

.section-mt-8 {
  margin-top: 8rem;
}

.box-shadow-full {
  padding: 3rem 3rem;
  position: relative;
  background-color: #fff;
  margin-bottom: 3rem;
  z-index: 2;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

.about-mf .about-img {
  margin-bottom: 2rem;
}

.about-mf .about-img img {
  margin-left: 10px;
}

.skill-mf span {
  color: #4e4e4e;
}

.skill-mf .progress {
  background-color: #cde1f8;
  margin: 0.5rem 0 1.2rem 0;
  border-radius: 0;
  height: 0.7rem;
}

.skill-mf .progress .progress-bar {
  height: 0.7rem;
  background-color: #0078ff;
}

.title-s {
  font-weight: 600;
  color: #1e1e1e;
  font-size: 1.1rem;
}

.title-box-2 {
  margin-bottom: 3rem;
}

.title-left {
  font-size: 2rem;
  position: relative;
}

.title-left:before {
  content: "";
  position: absolute;
  height: 3px;
  background-color: #0078ff;
  width: 100px;
  bottom: -12px;
}



/*----------Contact----------*/
#contact-section {
  background-image: url(assets/img/overlay-bg.jpg);
}

.contact {
  box-shadow: 0 13px 8px -10px rgba(0, 0, 0, 0.1);
}

.overlay-mf {
  background-color: #0078ff;
  position: absolute;
  top: 0;
  left: 0px;
  padding: 0;
  height: 100%;
  width: 100%;
  opacity: 0.7;
}

.validate {
    display: none;
    color: red;
    margin: 0 0 15px 0;
    font-weight: 400;
    font-size: 13px;
  }

  .sent-message {
    display: none;
    color: #fff;
    background: #18d26e;
    text-align: center;
    padding: 15px;
    font-weight: 600;
  }

.btn-rounded{
    border-radius: 2.5rem;
}

.list-icon{
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}


.list-icon li{
    display: flex;
    align-items: center;
    margin: 5px;
}
.list-icon span{
    color: var(--color-active);
    margin-right: 10px;
}

.socials {
    padding: 1.5rem 0;
  }
  
  .socials ul li {
    display: inline-block;
  }
  
  .socials .ico-circle {
    height: 40px;
    width: 40px;
    font-size: 1.7rem;
    border-radius: 50%;
    line-height: 1.4;
    margin: 0 15px 0 0;
    box-shadow: 0 0 0 3px #0078ff;
    transition: all 500ms ease;
  }
  
  .socials .ico-circle:hover {
    background-color: #0078ff;
    color: #fff;
    box-shadow: 0 0 0 3px #cde1f8;
    transition: all 500ms ease;
  }

.ico-circle {
    height: 100px;
    width: 100px;
    font-size: 2rem;
    border-radius: 50%;
    line-height: 1.55;
    margin: 0 auto;
    text-align: center;
    box-shadow: 0 0 0 10px #0078ff;
    display: block;
  }

/*------Back to top-------*/
.back-to-top {
  position: fixed;
  background: #0078ff;
  color: #fff;
  width: 44px;
  height: 44px;
  text-align: center;
  line-height: 1;
  font-size: 16px;
  border-radius: 50%;
  right: 15px;
  bottom: 15px;
  transition: background 0.5s;
  z-index: 11;
}

.back-to-top i {
  padding-top: 12px;
  color: #fff;
}
